
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>
<form action="/api/Upload/Image" method="post" enctype="multipart/form-data">
    <input name="callback" />
    @*<input type="file" name="name" value="" />*@
    <input type="submit" value="提交" />
</form>